@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fasthand&family=Play:wght@400;700&display=swap');

.font-family-custom {

    font-family: 'Anton', sans-serif;
    font-family: 'Fasthand', cursive;
    font-family: 'Play', sans-serif;
}